.secondForm {
    border: 2px solid #61dafb;
    border-radius: 2px;
    text-align: left;
    color: #61dafb;
    font-size: 20px;
    padding: 25px 0 20px 35px;
}

.secondForm input{
    background-color: #61dafb;
    border: none;
    outline: none;
    margin-left: 15px;
    padding: 10px 15px;
    font-size: 18px;
}

.secondForm input::placeholder{
    color: #282c34;
    font-size: 16px;
}
.secondForm div {
    margin: 15px 10px;
}