*,
*::after,
*::before{
  box-sizing: border-box;
}
body{
  font-size: 15px;
  background: #282c34;
}

.container{
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

button{
  font-size: 17px;
  border: none;
  outline: none;
  padding: 10px 15px;
  background-color: #61dafb;
  margin-left: 10px;
}

button:hover{
  background-color: #282c34;
  border: 1px solid #61dafb;
}