.form-choice{
    margin: 30px 0;
    color: #61dafb;
    display: inline-block;
}
.form-choice label{
    padding: 10px 15px;
    border: 1px solid #61dafb;
    border-radius: 2px;
    font-weight: bolder;
    font-size: 24px;
}

.form-choice input:checked label{
    background-color: #61dafb;
    color: #282c34;
}